#home {
 border: 1px solid black;
 margin: 20px; 
}

.header-banner__h1 {
    font-size: 56px;
}

.header-nav__menu a {
    text-decoration: none;
    color: blueviolet;
}

.header-nav__menu a:hover {
    text-decoration: underline;
}
